*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.hero {
    padding:70px 0 96px 0;
}
.container {
    max-width: 1140px;
    width: 85%;
    margin: 0 auto 0 auto;  
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-text {
    width:52%;
    margin-left:5%;
}
.title {
    display: block;
    font-size: 48px;  
    font-weight: bold;
    margin-bottom: 15px;
}
.subtitle {
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
    
}
.description {
    display: block;
    font-size: 18px;
    margin-bottom: 47px;
}
.price {
    display: block;
    font-size: 48px;
    color: rgba(49, 49, 49, 255);
    margin-bottom: 53px;   
}
.buttons {
   display: flex;
   font-weight: bold;
   
}
.btn {
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 5px;
}
.btn-1 {
    color: #ffffff;
    background:#f15921;
    padding: 20px 40px;
    margin-right: 40px;
    border: 3px solid #f15921;
}
.btn-2 {
    color: #f15921;
    padding: 20px 30px;
    border: 3px solid #f15921;
    
}
.section {
    padding: 90px 0 100px 0;
}
.delivery {
    background: #f2f2f2;
   
}
.section-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgba(51, 51, 51, 255);
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: baseline;


    flex-wrap: wrap;
    margin-top: 90px;
}
.block {
    width: 23%;
    text-align:center ;
    margin-right: 2%;
}
.block-text {
    font-size: 18px;
    margin-top: 20px;
    
}
.gallery {
    margin-top: 68px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.wrapper {
    max-width: 261px;
    margin-top:30px;
    border: 3px solid;
}
.exmp {
    overflow: hidden;
    justify-content: center;
   
  }
  .exmp img {
    display: block;
    object-fit: cover;
    max-width: 100%;

  }