*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    border: 1px solid red;
    max-width: 1140px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 30px;
}
.img {
   width: 40%; 
}
.main-text {
    width: 50%;
    padding-bottom: 40px;
}
.title {
    display: block;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
    
}
.subtitle {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    
}
.description {
    display: block;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    
    margin-top: 30px;

}
.price {
    display: block;
    font-size: 48px;
    margin-top: 30px;
}
.buttons {
    margin-top: 50px;
}
.btn {
    text-decoration: none;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bolder;
    border: 3px solid rgb(255, 72, 0);
    border-radius: 5px;
}
.btn-1 {
    color: #ffffff;
    background:#f15921;

}
.btn-2 {
    color: #f15921;
    margin-left: 40px;
}
.delivery {
    background: #f2f2f2;
}
.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.delivery-title {
    text-align: center;
    font-size: 30px;
color: rgba(51, 51, 51, 255);
margin-top: 80px;
margin-bottom: 90px;

}
.block {
    width: 20%;
    margin-right: 5%;
}
.block-text {
    text-align: center;
    margin: 40px 0;
}